<!-- codigo do texto sobre como funciona o site -->

<div class="container">
  <div class="p-5 my-4 bg-light rounded-3">
       <h1>Como Funciona a Plataforma iService?</h1>
       <br>

       <h3>Para os profissionais</h3>
       <p>
           Assim como as plataformas mais modernas, qualquer profissional das áreas que trabalhamos pode realizar o seu cadastro e solicitar através do nosso portal para virar um dos nossos funcionários. A aprovacao somente vai acontecer com a inserção de um diploma de faculdade ou certificado de cursos da área escolhida, além de uma entrevista online para avaliar a postura dos nossos futuros profissionais.
       </p>
       <p>
           Se você passou por todas as etapas, parabéns, você é um funcionário da iService! Nossa equipe vai enviar clientes que necessitam de ajuda na área que escolheu e, baseado nas aceitações de atendimento, você faz o seu horário!
       </p>

       <h3>Para os Usuários</h3>

       <p>Para você que somente quer solicitar um prestador de servico, é muito mais fácil. Somente ir para Orçamento, colocar seus dados, o serviço que precisa, o tempo necessário e em um prazo de 12 horas vamos mandar no seu email o valor do atendimento.</p>
       <p>Através do email, vai direcionar novamente para o site para realizar o seu login e senha, aceitar os termos de uso e sua solicitação vai ser enviada para o profissional mais qualificado proximo a você.</p>
       <br>
       <h3>Gostou do nosso site?</h3>
       <br>

       <!-- codigo dos botoes de orcamento e fale conosco -->

       <h5>Comece agora a utilizar os nossos serviços!</h5>

       <div class="d-grid gap-2">
           <a href="orcamento" class="btn btn-danger">CLIQUE AQUI PARA FAZER SEU ORÇAMENTO</a>
       </div>
   </div>
</div>

<div class="container">
   <div class="p-5 my-4 bg-light rounded-3">

       <h3>Ainda está com dúvidas?</h3>
       <br>
       <h5>Mande mensagem agora para nossa equipe!</h5>

   <div class="d-grid gap-2">
       <a href="faleconosco" class="btn btn-danger">Fale Conosco</a>
   </div>
   </div>
</div>

