<div class="container">
  <div class="p-5 my-4 bg-light rounded-3">
    <figure>
      <img src="assets/img/logo-fundo.png" class="img-fluid" alt="logo">
    </figure>

    <h1>Fale Conosco</h1>
    <br>
    <h4><i class="bi bi-whatsapp"></i>(19) 3456-8765</h4>
    <br>
    <h4><i class="bi bi-instagram"></i>iService</h4>
    <br>
    <h4><i class="bi bi-facebook"></i>iService</h4>
    <br>
    <h4><i class="bi bi-linkedin"></i>iService</h4>
    <br>
    <h4>Email: contato@iservice.net</h4>
    <h4>Endereco: Rua Santos Dumont 459, Campinas, SP</h4>
    <h4>CEP:13020-021</h4>
    </div>
</div>
