<!-- codigo sobre o texto falando sobre a empresa -->

<div class="container">
  <div class="p-5 my-4 bg-light rounded-3">

      <h1>Quem Somos?</h1>
      <br>
      <p>
      O iService é uma empresa criada em 04 de Abril de 2021 com o objetivo de inovar e facilitar a forma de conseguir um prestador de serviço de confiança. Com um ano de mercado ja conseguimos satisfazer centenas usuários e realizamos milhares de atendimentos em diversos segmentos. Os nossos funcionários passam por um rigoroso processo seletivo para entrar na nossa equipe e realizam treinamentos mensais técnicos e sobre comportamento para excelencia no atendimento.
      </p>

      <figure>
          <img src="assets/img/prestador.jpg" class="img-fluid" alt="prestador">
      </figure>

      <h1>Nosso Objetivo</h1>

      <p>
      A proposta da plataforma iService tem dois objetivos. O primeiro deles é facilitar para os nossos usuários o acesso a mão de obra qualificada e de confiança com flexibilidade de horário. Além disso, o cliente pode escolher o tempo que vai utilizar o prestador de serviço, sendo uma visita avulsa, semanal ou mensal, possibilitando atender qualquer tipo de demanda.
      </p>

      <p>
      O segundo objetivo é oferecer para nossos profissionais diversas oportunidades de emprego e flexibilidade de horário. O nosso site possibilita diversos tipos de profissionais, ja que o aplicativo disponibiliza diversas oportunidades com diferentes cargas horárias e quem escolhe o serviço é o proprio colaborador.
      </p>
      <p>
      Desta forma, o foco do nosso aplicativo é atender com excelencia independente do objetivo do usuário.
      </p>
  </div>
</div>

  <!-- Codigo referente ao mosaico de logos das empresas -->

<div class="container">
  <div class="p-5 my-4 bg-light rounded-3">
      <h3>Empresas que ja solicitaram serviços iService</h3>
      <br>

      <ul id="mosaico1">
          <li>
              <img src="assets/img/nestle.png" class="img-fluid" width="100" alt="nestle">
          </li>
          <li>
              <img src="assets/img/ibm.jpg" class="img-fluid" width="100" alt="ibm">
          </li>
          <li>
              <img src="assets/img/intelbras.jpg" class="img-fluid" width="100" alt="intelbras">
          </li>
      </ul>

      <ul id="mosaico2">
          <li>
              <img src="assets/img/johnson.png" class="img-fluid" width="150" alt="johnson">

          </li>
          <li>
              <img src="assets/img/paodeacucar.png" class="img-fluid" width="100" alt="paodeacucar">
          </li>
          <li>
              <img src="assets/img/peg.png" class="img-fluid" width="100" alt="peg">
          </li>

      </ul>

  </div>
</div>

  <!-- Codigo referente ao texto e botão para direcinar para orçamento -->

<div class="container">
  <div class="p-5 my-4 bg-light rounded-3">

      <h3>Gostou do nosso site?</h3>
      <br>
      <h5>Comece agora a utilizar os nossos serviços!</h5>

      <div class="d-grid gap-2">
          <a href="orcamento" class="btn btn-danger">CLIQUE AQUI PARA FAZER SEU ORÇAMENTO</a>
      </div>
  </div>
</div>

